{% include "partials/header.twig" %}
<main class='main-content' id="app">
	<div class="page-contacts-content">
		<div class="container">
			<h1 class="contacts-title">Контакты</h1>
			<div class="contacts-left">
				<div class="contacts-left-phones">
					<div class="contacts-left-phone">
						<div class="contacts-left-phone-label">Отдел продаж</div>
						<a href="">+7 (935) 345 23-45</a>
					</div>
					<div class="contacts-left-phone">
						<div class="contacts-left-phone-label">Отдел продаж</div>
						<a href="">+7 (935) 345 23-45</a>
					</div>
				</div>
				<div class="contacts-left-address">Россия, Московская область г. Домодедово с. Константиново, Объездной проезд 3а</div>
				<div class="contacts-left-email"><a href="">info@yandex.ru</a></div>
				<div class="contacts-left-time">Ежедневно с 10:00 до 20:00</div>
			</div>
			<div class="contacts-map">
				<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A810bd91aa387ef9d37949ffc8ca913f354780fc72b079b255a71085228f4f76c&source=constructor" width="100%" height="420" frameborder="0"></iframe>
			</div>
		</div>
	</div>
</main>
{% include "partials/footer.twig" %}