{% include "partials/header.twig" %}
<main class='main-content' id="app">
	<div class="page-delivery-content">
		<div class="container">
			<h1 class="delivery-title">Доставка и оплата</h1>
			<div class="page-delivery-title">Доставка</div>
			<div class="page-delivery-text">
				<p>
					Для расчета стоимости доставки вы можете <a href="">обратиться к нам</a> или перейти на сайт компании доставки. 
					А также акционеры крупнейших компаний своевременно верифицированы. Мы вынуждены отталкиваться от того, что социально-экономическое развитие позволяет выполнить важные задания по разработке экспериментов, поражающих по.
				</p>
			</div>
			<div class="page-delivery-inner">
				<div class="delivery-item">
					<div class="delivery-item-image"><img src="{{ site.theme.link }}/assets/images/cdek.png" alt=""></div>
					<div class="delivery-item-text">Расчитайте стоимость доставки.А также акционеры крупнейших компаний своевременно верифицированы.</div>
					<div class="delivery-item-link"><a href="">Рассчитать стоимость</a></div>
				</div>
				<div class="delivery-item">
					<div class="delivery-item-image"><img src="{{ site.theme.link }}/assets/images/dimex.png" alt=""></div>
					<div class="delivery-item-text">Расчитайте стоимость доставки.А также акционеры крупнейших компаний своевременно верифицированы.</div>
					<div class="delivery-item-link"><a href="">Рассчитать стоимость</a></div>
				</div>
				<div class="delivery-item">
					<div class="delivery-item-image"><img src="{{ site.theme.link }}/assets/images/boxberry.png" alt=""></div>
					<div class="delivery-item-text">Расчитайте стоимость доставки.А также акционеры крупнейших компаний своевременно верифицированы.</div>
					<div class="delivery-item-link"><a href="">Рассчитать стоимость</a></div>
				</div>
				<div class="delivery-item">
					<div class="delivery-item-image"><img src="{{ site.theme.link }}/assets/images/pochta.png" alt=""></div>
					<div class="delivery-item-text">Расчитайте стоимость доставки.А также акционеры крупнейших компаний своевременно верифицированы.</div>
					<div class="delivery-item-link"><a href="">Рассчитать стоимость</a></div>
				</div>
			</div>
			<div class="page-delivery-title">Доставка</div>
			<div class="page-delivery-text">
				<p>
					Для расчета стоимости доставки вы можете <a href="">обратиться к нам</a> или перейти на сайт компании доставки. 
					А также акционеры крупнейших компаний своевременно верифицированы. Мы вынуждены отталкиваться от того, что социально-экономическое развитие позволяет выполнить важные задания по разработке экспериментов, поражающих по.
				</p>
			</div>
			<div class="delivery-maps_block">
				<div class="delivery-maps_block-title">Пункты самовывоза и диллерские центры в
					<select name="" id="">
						<option value="">Москва</option>
						<option value="">Санкт-Петербург</option>
						<option value="">Орехово-Зуево</option>
						<option value="">Воронеж</option>
						<option value="">Екатеринбург</option>
					</select>
				</div>
				<div class="delivery-maps_block-inner">
					<div class="delivery-map" id="maparea"></div>
				</div>
			</div>
			<div class="page-delivery-title">Оплата</div>
			<div class="page-delivery-text">
				<p>В нашем интернет-магазине возможны различные способы оплаты:</p>
				<ul>
					<li>Наличные</li>
					<li>Банковские карты</li>
					<li>Банковский перевод</li>
					<li>Онлайн оплата картой, электронными деньгами (Яндекс, WebMoney, QIWI), с баланса мобильного и др.</li>
				</ul>
				<p>Заказы, для которых выбраны способы доставки "Boxberry", "Почта РФ", "СДЭК" или другие транспортные компании, мы отправляем исключительно ПО 100% ПРЕДОПЛАТЕ!</p>
				<p>Уважаемые покупатели, оплата заказов принимается на этапе оформления заказа или позднее в личном кабинете, если вы прошли регистрацию. Оплата происходит исключительно через наш сайт или с помощью сервисов приема платежей Яндекс Касса и Робокасса. В виду участившихся случаев оплаты заказов через сторонние сайты, особенно через сайт СДЭК, просьба обратить внимание, что мы НЕ принимаем оплату через сайт СДЭК. Убедительная просьба не оплачивать заказы на других сайтах!</p>
				<p>Заказы, оформленные по Почте РФ, СДЭК или Boxberry, отправляются 3 раза в неделю.</p>
			</div>
		</div>
	</div>
</main>
{% include "partials/footer.twig" %}